@model VarDoc.Models.Patients

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

@*
    <div class="modal fade" id="modal-danger">
        <div class="modal-dialog">
            <div class="modal-content bg-danger">
                <div class="modal-header">
                    <h4 class="modal-title">Are you sure you want to delete this ?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-light">Save changes</button>
                </div>
            </div>
        </div>
    </div>*@

<h2 class="text-danger" >
    <i class="fas fa-exclamation-triangle"></i>
    Suppression!!
</h2>
<h3>Etes vous sure de vouloir supprimer ce patient?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_patient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nom_patient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prenom_patient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prenom_patient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pere_patient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pere_patient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tel_patient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tel_patient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fiche_patient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fiche_patient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.date_naissance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date_naissance)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id_patient" />
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        <a type="button" class="btn btn-default" asp-action="Index">Retour</a>
    </form>
</div>
