@model VarDoc.Models.Patients

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patients</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_patient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nom_patient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prenom_patient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prenom_patient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pere_patient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pere_patient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tel_patient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tel_patient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fiche_patient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fiche_patient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.date_naissance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date_naissance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_patient">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
