@using static VarDoc.NavigationIndicatorHelper;
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="~/Home" class="brand-link">
        <img src="~/img/pngv.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">VarDoc</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("home","index")">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Accueil
                        </p>
                    </a>
                </li>
@*                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Stats" class="nav-link @Url.MakeActiveClass("home","stats")">
                        <i class="nav-icon fas fa-chart-bar"></i>
                        <p>
                            Statistiques
                        </p>
                    </a>
                </li>*@
                <li class="nav-item ">
                    <a asp-controller="Patients" asp-action="Index" class="nav-link @Url.MakeActiveClass("patients","index")">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Patients
                        </p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a asp-controller="Patients" asp-action="Create" class="nav-link @Url.MakeActiveClass("patients","create")">
                        <i class="nav-icon fas fa-plus"></i>
                        <p>
                            Ajouter Patient
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="FicheP" asp-action="Index" class="nav-link @Url.MakeActiveClass("ficheP","index")">
                        <i class="nav-icon fa fa-file"></i>
                        <p>
                            Liste des Fiches
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="FicheP" asp-action="Create" class="nav-link @Url.MakeActiveClass("ficheP","create")">
                        <i class="nav-icon fa fa-folder-plus"></i>
                        <p>
                            Ajouter Fiche
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Calendar" asp-action="Index" class="nav-link @Url.MakeActiveClass("calendar","index")">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Calendrier
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="ConvertFile" class="nav-link @Url.MakeActiveClass("home","convertFile")">
                        <i class="nav-icon fa fa-cog"></i>
                        <p>
                            Paramètres
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>